$color-primary-pale-blue: #e0e8ff;
$color-primary-bright-blue: #3829e0;
$color-neutral-very-pale-blue: #f5f7ff;
$color-neutral-desaturated-blue: #7280a7;
$color-neutral-dark-blue: #1f2f56;
$color-black: #000;

$color-bright-purple: #766CF1;