.procced {
    background-color: $color-primary-bright-blue;
    display: block;
    max-width: 100%;
    text-decoration: none;
    color: #fff;
    border-radius: 1rem;
    width: 75%;
    margin: 0 auto;
    padding: 1.5rem 2rem;
    box-shadow: 0 1rem 2rem rgba($color-black, .2);
    transition: all .2s;

    @include respond(phone) {
        width: 90%;
    }

    &:hover {
        background-color: $color-bright-purple;
        transform: translateY(-.3rem);
    }

    &:active {
        transform: translateY(1px);
    }
}

.cancel {
    margin-top: 2rem;
    display: block;
    text-decoration: none;
    color: #000;

    &:hover {
        font-weight: bold;
    }
}