.heading {
    
    margin-top: 2rem;

    &--primary {
        font-size: 2.5rem;
        font-weight: 900;
    }
    
    &--sub {
        margin: 2.5rem 0;
        padding: 0 5rem;
        color: #777;

        @include respond(phone) {
            padding: 0;
        }
    }

}